<div class="mt-4 col-8 offset-2">
  <div class="card">
    <div class="card-header">Reset Password</div>
    <div class="card-body">
      <form #resetRequestForm="ngForm" (ngSubmit)="handleSubmit()">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="text"
            class="form-control"
            name="userEmail"
            id="email"
            aria-describedby="emailHelp"
            [(ngModel)]="form.email"
            placeholder="Enter email"
            required>
            <div class="alert alert-danger" *ngIf="error">{{ error.message }}</div>
        </div>
        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-primary" [disabled]="!resetRequestForm.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
