<div class="mt-4 col-8 offset-2">
  <div class="card">
    <div class="card-header">Signup</div>
    <div class="card-body">
      <form #signupForm="ngForm" (ngSubmit)="handleSignup()">
        <div class="form-group">
          <label for="user-name">Name</label>
          <input type="text"
            class="form-control"
            name="name"
            id="user-name"
            [(ngModel)]="userDetail.name"
            placeholder="Name"
            required>

            <div class="alert alert-danger" [hidden]="!error.name">{{error.name}}</div>

        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="text"
            class="form-control"
            name="userEmail"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            [(ngModel)]="userDetail.email"
            placeholder="Enter email"
            required>

            <div class="alert alert-danger" [hidden]="!error.email">{{error.email}}</div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password"
            class="form-control"
            name="userPassword"
            id="exampleInputPassword1"
            placeholder="Password"
            [(ngModel)]="userDetail.password"
            required>
          </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Re-type Password</label>
          <input type="password"
            class="form-control"
            name="password_confirmation"
            id="exampleInputPassword1"
            placeholder="Re-type Password"
            [(ngModel)]="userDetail.password_confirmation"
            required>
            <div class="alert alert-danger" [hidden]="!error.password">{{error.password}}</div>
        </div>

        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">Sign Up</button>
          <a class="btn btn-info" routerLink="/login">Login</a>
        </div>
      </form>
    </div>
  </div>
</div>
